@import url('/styles/upload.css');

body {
  background-color: #121212;
  color: white;
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#logo-text {
  font-size: 2em;
  font-weight: bolder;
  margin-right: 1em;
}

#app {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 50px - 10px);
}

footer {
  text-align: center;
  color: dimgrey;
  width: 100%;
  margin-top: auto;
}

#search {
  position: absolute;
  margin-top: 8em;
  width: 70%;
  height: 3em;
}

nav {
  grid-area: menu;
  display: flex;
}