@import url('/styles/upload.css');
@import url('/styles/search.css');
@import url('/styles/upload-button.css');
@import url('/styles/about.css');
@import url('/styles/nav.css');
@import url('/styles/favorite-view.css');

body {
  background-color: #121212;
  color: white;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;

}

#logo-text {
  font-size: 2em;
  font-weight: bolder;
  font-family: sans-serif;
  margin-right: 1em;
  cursor: pointer;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0px;
  border-radius: 8px;
  justify-content: center;
  line-height: 0.5em;
  padding: .5em .2em;
}

#app {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 50px - 10px);
}

footer {
  text-align: center;
  color: dimgrey;
  width: 100%;
  margin-top: auto;
}

#container {
  margin-top: 4em;
}
