@import url('/styles/upload.css');
@import url('/styles/search.css');
@import url('/styles/upload-button.css');
@import url('/styles/nav.css');

body {
  background-color: #121212;
  color: white;
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#logo-text {
  font-size: 2em;
  font-weight: bolder;
  margin-right: 1em;
}

#app {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 50px - 10px);
}

footer {
  text-align: center;
  color: dimgrey;
  width: 100%;
  margin-top: auto;
}

#container {
  margin-top: 4em;
}

#gif-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#gif-grid .gif-item {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

#gif-grid .gif-item img {
  transition: scale 0.2s, opacity 0.2s;
  opacity: 0.6;
}

#gif-grid .gif-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  color: #fff;
  font-size: smaller;
  font-weight: bold;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsiss;
}

#gif-grid .gif-item:hover img {
  scale: 1.2;
  opacity: 1;
}

#gif-grid .gif-item:hover .gif-info {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}